/* Google-Fonts  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Common Styles  */
body{
  font-family: 'Poppins', sans-serif;
}
.carousel-item img{
  min-height: 400px;
}
.carousel-item:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.5);
  z-index: 1;
}
.carousel-caption{
  z-index: 2;
}
@media (min-width: 768px){
  .course-img img{
    width: 200px;
    height: 200px;
    display: block;
  }
} 
